{% extends 'base.html' %}

<!-- page Title -->
{% block pageTitle%} Anomalie and Arrondissement {%endblock%}

<!-- page header -->
<!-- {% block headerTitle%}

{%endblock%} -->


<!-- page header Content -->
<!-- {% block headerContent%}

{%endblock%} -->

<!-- page body -->
{% block Content%} 
<div class="container">
  <div class="containerHead">
    <h4>DATA</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eius beatae, nisi culpa hic deserunt fugit? Sint, eaque. Labore id a, corporis alias architecto soluta aliquam praesentium quisquam facere ipsa.</p>
  </div>
  <div class="contentOne">
    <div class="row">
      <div class="col mx-2 rounded">
        <table class="table my-2 p-2 text-white">
          <thead>
            <th>Annee_decleration</th>
            <th>Type_anomalies</th>
          </thead>
          <tbody>
            <tr>
              <td>2021</td>
              <td>12344</td>
            </tr>
            <tr>
              <td>2022</td>
              <td>12344</td>
            </tr>
          </tbody>
  
        </table>
      </div>
      <div class="col mx-2 rounded">
  
      </div>
    </div>
  </div>
  <div class="clickBtn">
    <a href="/home" class="btn btn-secondary my-3 btn-lg" role="button">Go Back</a>
  </div>
</div>
{%endblock%}