{% extends 'base.html' %}
<!-- page title -->
  {%block pageTitle%}Anomalies Project{%endblock%}

<!-- page header -->
{%block headerTitle%}
<div class="logoTab">
  <div class="logo">
    <img src="../static/img/logo.png" alt="">
  </div>
  <h1 class="bounce-in-top">Bonjour tout le Monde</h1>
</div>
{%endblock%}

<!-- body content -->
{%block Content%}
  <div class="container">
    <div class="row">
      <div class="col mx-2 my-5 px-2 py-4 rounded  slide-in-elliptic-top-fwd ">
        <p>{{dico.New_ID}}</p>
        <a href="/question" class="btn btn-outline-light" role="button">One</a>
      </div>

      <div class="col mx-2 my-5 px-2 py-4 rounded slide-in-elliptic-top-fwd ">
        <p>
          Lorem {{dico.arrondissement}}?
        </p>
        <a href="/question" class="btn btn-outline-light" role="button">Two</a>
      </div>

      <div class="col  mx-2 my-5 px-2 py-4 rounded slide-in-elliptic-top-fwd">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus architecto delectus deserunt eum aspernatur fugit vitae voluptate officia optio. Error sit cumque enim officiis molestias delectus deserunt, corporis suscipit voluptatem?
        </p>
        <a href="/question" class="btn btn-outline-light" role="button">Three</a>
      </div>
    </div>
  </div>
{% endblock %}
