{% extends 'base.html' %}

<!-- page Title -->
{% block pageTitle%} Anomalie and Arrondissement {%endblock%}

<!-- page header -->
{% block headerTitle%}
<div class="logoTab">
  <div class="container d-flex justify-content-center flex-row">

    <div class="img1">
      <!-- <img src="./static/image/dic.png" alt=""> -->
    </div>

    <div class="logo mx-3 border-5 border-white">
      <a href="/">
        <img src="https://cdn.dribbble.com/users/2524031/screenshots/13961394/media/fe0cbee48954b7335a47e539c3e2579a.png?compress=1&resize=1000x750&vertical=top"  alt="">
      </a>
    </div>

    <div class="img2 ">
      <!-- <img src="./static/image/img2/dic1.png" alt=""> -->
    </div>
  </div>
</div>
{%endblock%}


<!-- page header Content -->
{%block headerContent%}
  <div class="container bg-dark my-3 p-2 bounce-in-top bg-opacity-50  sticky-top">
    <div class="navbar navbar-expand-lg rounded">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <!-- drop down one -->
          <ul class="navbar-nav my-2 navbar-nav-scroll mx-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Anomalie
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                {% for pouet in list_anomalie %}
                <li><a class="dropdown-item" href="?anomalie={{ pouet }}"> {{ pouet }} </a></li>
                {% endfor %}
              </ul>
            </li>
            <!-- dropdown two -->
            <li class="nav-item dropdown mx-5">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Arrondissement
              </a>
              <ul class="dropdown-menu " aria-labelledby="navbarScrollingDropdown">
                <!-- {%for key, value in context.items %}
                <li><a class="dropdown-item active" href="/question1/1">{{ pk.key }} Arrondissement</a></li>
                {% endfor %} -->
                <li><a class="dropdown-item" href="/question1/2">1 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/2">2 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/3">3 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/4">4 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/5">5 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/6">6 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/7">7 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/8">8 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/9">9 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/10">10 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/11">11 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/12">12 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/13">13 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/14">14 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/15">15 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/16">16 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/17">17 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/18">18 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/19">19 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/20">20 Arrondissement</a></li>
              </ul>
            </li>
            <!-- drop down three -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Years
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">2021</a></li>
                <li><a class="dropdown-item" href="#">2022</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{%endblock%}

<!-- page body -->
{% block Content%} 
<div class="modelImage h-100" style="z-index: 999;">
  <div class="container d-flex align-items-center justify-content-center">
      <div class="fullImage text-white w-50 h-50 p-5">
        <img src="" class="imgShow" alt="">
      </div>
  </div>
</div>

<div class="container">
  <div class="containerHead">
    <h4>DATA</h4>
    <p>Quantité d'anomalies pour l'arrondissement {{ context.pk }}.</p>
    <!-- <p>Quantité d'anomalies pour l'arrondissement {{ list_anomalie }}.</p> -->
    <p>
    </p>
  </div>
  <div class="contentOne mt-5">
    <div class="row">
      <div class="col-lg-4 h-50 mx-auto mt-3 bg-secondary bg-opacity-50 rounded" data-aos="zoom-in" data-aos-duration="1000">
        <table class="table my-2 p-2 text-white">
          <thead>
            <th>Annee_declaration</th>
            <th>Quantité</th>
          </thead>
          <tbody>
          {% if context.id == 0 %}
          {% for i in context.data_type %}
          <tr>
            <td>{{ i.annee_declaration}}</td>
            <td>{{ i.count }}</td>
          </tr>
          {% endfor %}
          {% elif context.id == 1 %}
          {% for i in context.data %}
            <tr>
              <td>{{ i.annee_declaration}}</td>
              <td>{{ i.count }}</td>
            </tr>
          {% endfor %}
          {% endif %}
          </tbody>
        </table>
      </div>
      {% if context.id == 0 %}
      <div class="col-md-6 rounded" id="image_bg" data-aos="zoom-in" data-aos-duration="1000">
        <img src = '{{ context.img_type.0 | safe}}' class="img-thumbnail" alt=raté>
      </div>
      <div class="col-md-6 rounded my-5" id="image_bg" data-aos="zoom-out" data-aos-duration="1000">
        <img src = '{{ context.img_type.1 | safe }}' class="img-thumbnail" alt=raté>
      </div>
      {% elif context.id == 1 %}
      <div class="col-md-6 rounded" id="image_bg" data-aos="zoom-in" data-aos-duration="1000">
        <img src = '{{ context.img.0 | safe}}' class="img-thumbnail" alt=raté>
      </div>

      <div class="col-lg-6 h-50 mx-auto my-5 rounded h-75" id="image_bg" data-aos="zoom-out" data-aos-duration="1000">
        <img src = '{{ context.img.1 | safe }}' class="img-thumbnail" alt=raté>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="clickBtn text-center mb-5">
    <a href="/home" class="btn btn-secondary my-3 btn-lg" role="button">Go Back</a>
  </div>
</div>

  <script src="../static/js/script_q1.js"></script>
{%endblock%}


{%block Footer %}
{% load bootstrap_icons %}
<footer class="text-center text-lg-start text-white" style="background: rgba(0, 0, 0, 0.2)" >
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section>
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            GRETA PROJECT
          </h6>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus molestias et fuga aspernatur. Fuga officia ipsum accusamus.
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text-white">
          <h6 class="text-uppercase mb-4 font-weight-bold ">TASKS</h6>
          <p>Extraction/nettoyage des donnees</p>
          <p>Cartographie</p>
          <p>Exploitation des donnees</p>
          <p>Front(Django)</p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">TEAM MEMBER</h6>
          <p> Nicolas.C(chef de projet) <br> et Damien</p>
          <p>Frantz et Djensen</p>
          <p> Nicolas.T</p>
          <br>
          <p>Gabriel et Rangdol</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

          <!-- Facebook -->
          <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #3b5998"
              href="#!"
              role="button"
              ><i class="bi bi-facebook"></i
            ></a>

          <!-- Twitter -->
          <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #55acee"
              href="#!"
              role="button"
              ><i class="bi bi-twitter"></i
            ></a>

          <!-- Google -->
          <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #dd4b39"
              href="#!"
              role="button"
              ><i class="bi bi-google"></i
            ></a>

          <!-- Instagram -->
          <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #ac2bac"
              href="#!"
              role="button"
              ><i class="bi bi-instagram"></i
            ></a>

          <!-- Linkedin -->
          <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #0082ca"
              href="#!"
              role="button"
              ><i class="bi bi-linkedin"></i
            ></a>
          <!-- Github -->
          <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #333333"
              href="#!"
              role="button"
              ><i class="bi bi-github"></i
            ></a>
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2)"
        >
    © 2022 Copyright:
    <a class="text-white" href="/home"
        >Projet Anomalie Paris </a
      >
  </div>
  <!-- Copyright -->
</footer>
{%endblock%}
