{% extends 'base.html' %}
<!-- page title -->
{%block pageTitle%} Information {%endblock%}

<!-- page header title -->
{%block headerTitle%} {%endblock%}

<!-- page header content -->
{%block headerContent%}
  <div class="container bg-light my-4 p-2 bounce-in-top bg-opacity-75">
    <div class="navbar navbar-expand-lg rounded">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <!-- drop down one -->
          <ul class="navbar-nav my-2 navbar-nav-scroll mx-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Anomalie
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="/anomalie">Objets abondonnes</a></li>
                <li><a class="dropdown-item" href="#">Graffitis</a></li>
                <li><a class="dropdown-item" href="#">Affiches et Autocollants</a></li>
                <li><a class="dropdown-item" href="#">Autos</a></li>
                <li><a class="dropdown-item" href="#">Mots</a></li>
                <li><a class="dropdown-item" href="#">Velos</a></li>
                <li><a class="dropdown-item" href="#">Mobiliers urbains</a></li>
                <li><a class="dropdown-item" href="#">Proprete</a></li>
                <li><a class="dropdown-item" href="#">Eclairage/Electricite</a></li>
                <li><a class="dropdown-item" href="#">Voirie et espace public</a></li>
                <li><a class="dropdown-item" href="#">Activities commerciales et Professionnelles</a></li>
                <li><a class="dropdown-item" href="#">Eau</a></li>
                <li><a class="dropdown-item" href="#">Arbres</a></li>
                <li><a class="dropdown-item" href="#">Vegetaux et animaux</a></li>
              </ul>
            </li>
            <!-- dropdown two -->
            <li class="nav-item dropdown mx-5">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Arrondissement
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item active" href="/question1/1">1 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/2">2 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/3">3 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/4">4 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/5">5 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/6">6 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/7">7 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/8">8 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/9">9 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/10">10 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/11">11 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/12">12 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/13">13 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/14">14 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/15">15 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/16">16 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/17">17 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/18">18 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/19">19 Arrondissement</a></li>
                <li><a class="dropdown-item" href="/question1/20">20 Arrondissement</a></li>
              </ul>
            </li>
            <!-- drop down three -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Years
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">2021</a></li>
                <li><a class="dropdown-item" href="#">2022</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{%endblock%}


<!-- body content -->
{%block Content%}
<div class="container">
  <div class="mainContent">
    <div class="row">
      <div class="col1 col-md-7 my-2 py-3">
        <table class="table fs-6 fw-lighter">
          <thead>
            <th>Arrondissement</th>
            <th>Annee_decleration</th>
            <th>Nombre_anomalies</th>
          </thead>
          <tbody>
            {% if data %}
            {% for i in data %}
            <tr>
              <th>{{ i.arrondissement }}</th>
              <td >
                <ul>
                  <li>{{ i.annee_declaration }}</li>
                  <li></li>
                </ul>
              </th>
              <td >
                <ul>
                  <li>{{ i.type_declaration}}</li>
                  <li></li>
                </ul>
              </th>
            </tr>
            {% endfor %}           
            {% endif %}           
          </tbody>
        </table>
      </div>
      <div class="col2 col-md-5 my-2 py-3">
        <div class="row">
          <div class="col-12 sideCol1 h-50 bg-info">
            <h4>Graph(pie) </h4>
            <div>
              <img src = '{{ img.0 }}' class="img-thumbnail" alt=raté>
            </div>
          </div>
          <div class="col sideCol2 my-4 h-50 bg-light">
            <h4>Graph(hist)</h4>
            <div>
              <img src="{{ img.1 }}" class="img-thumbnail" alt="rate">
            </div>
          </div>
        </div>
      </div>
    </div>
  
      
    </div>
</div>


  <div class="clickBtn">
    <a href="/home" class="btn btn-secondary my-3 btn-lg" role="button">Go Back</a>
  </div>

</div>
{%endblock%}

