{% extends 'base.html' %}
<!-- page title -->
  {%block pageTitle%}Anomalies Project{%endblock%}

<!-- page header -->
{%block headerTitle%}
<h1>Bonjour tout le Monde</h1>
{%endblock%}

<!-- body content -->
{%block Content%}
  <div class="container">
    <div class="row">
      <div class="col mx-2 my-5 px-2 py-4 rounded">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae iure id magnam facere commodi labore soluta exercitationem facilis inventore, nesciunt recusandae atque quisquam accusamus quae? Unde cupiditate necessitatibus tempora asperiores.</p>
        <a href="/main" class="btn btn-outline-light" role="button" data-bs-toggle="button">One</a>
      </div>

      <div class="col mx-2 my-5 px-2 py-4 rounded">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus perspiciatis nostrum hic impedit adipisci tenetur esse iure molestiae! Voluptatibus fugit adipisci totam illo, iste recusandae ad modi labore rerum praesentium?
        </p>
        <a href="/main" class="btn btn-outline-light" role="button" data-bs-toggle="button">Two</a>
      </div>

      <div class="col  mx-2 my-5 px-2 py-4 rounded">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus architecto delectus deserunt eum aspernatur fugit vitae voluptate officia optio. Error sit cumque enim officiis molestias delectus deserunt, corporis suscipit voluptatem?
        </p>
        <a href="/main" class="btn btn-outline-light" role="button" data-bs-toggle="button">Three</a>
      </div>
    </div>
  </div>
{% endblock %}
