{% extends 'base.html' %}
<!-- page title -->
{%block pageTitle%} Information {%endblock%}

<!-- page header title -->
{%block headerTitle%} {%endblock%}

<!-- page header content -->
{%block headerContent%}
  <div class="container bg-light my-4 p-2">
    <div class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <!-- drop down one -->
          <ul class="navbar-nav my-2 navbar-nav-scroll">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Anomalie
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <!-- dropdown two -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Arrondissement
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <!-- drop down three -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Years
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{%endblock%}


<!-- body content -->
{%block Content%}
<div class="mainContent">
  <div class="row">
    <div class="col1 col-md-8 my-2 py-3">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet itaque molestiae fugit, sunt debitis inventore eum quas facere recusandae harum veritatis maxime repellendus cum voluptas in, aperiam omnis labore praesentium!
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet itaque molestiae fugit, sunt debitis inventore eum quas facere recusandae harum veritatis maxime repellendus cum voluptas in, aperiam omnis labore praesentium!
      </p>
    </div>

    <div class="col2 col-md-4  my-2 py-3">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet itaque molestiae fugit, sunt debitis inventore eum quas facere recusandae harum veritatis maxime repellendus cum voluptas in, aperiam omnis labore praesentium!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col1 col-md-8 my-2 py-3">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet itaque molestiae fugit, sunt debitis inventore eum quas facere recusandae harum veritatis maxime repellendus cum voluptas in, aperiam omnis labore praesentium!
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet itaque molestiae fugit, sunt debitis inventore eum quas facere recusandae harum veritatis maxime repellendus cum voluptas in, aperiam omnis labore praesentium!
      </p>
    </div>

    <div class="col2 col-md-4 my-2 py-3">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet itaque molestiae fugit, sunt debitis inventore eum quas facere recusandae harum veritatis maxime repellendus cum voluptas in, aperiam omnis labore praesentium!
      </p>
    </div>
  </div>


  <a href="/home" class="btn btn-secondary my-3 btn-lg" role="button">Go Back</a>

</div>
{%endblock%}

