<!DOCTYPE html>
<html lang="en">
<body>
  
  
    
    <div>
      {% for image in img %}
      {{ image }} </br>
      <img src = '{{ image }}' alt=raté>
      {% endfor %}
    </div>
  </body>
  
</html>
  
  <!--
    
    {% for elem in img %}
     {{elem|safe}}
    {% endfor %}
  
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link href="images/favicon.ico" rel="shortcut icon">
    <title>Sample Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.2.js"></script>
  </head>
  
  <body>
    
    <div id="{{single_chart.id}}">
    </div>
    
    <script type="text/javascript">
      var figureId = "{{single_chart.id}}";
      var json01 = {{single_chart.json|safe}};
      mpld3.draw_figure(figureId, json01);
    </script>
    
  </body>
  
</html>
-->